<!DOCTYPE html>
<html>
<head>
    <title>Add</title>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
</head>
<body>
        <h2>输入两个数求和</h2>
        <form method='post' action='/add'>
         <table>
          <p>使用表单计算两个数的和</p>
           <tr><td>被加数</td><td><input type='text' name='n1'/></td></tr>
           <tr><td>加数</td><td><input type='text' name='n2'/></td></tr>
         </table>
         <button name="sum" type="submit" value="sum">求和</button>
		</form>
</body>
</html>